### Imports

In [3]:
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

import collections
from scipy.stats import pearsonr

### Load Dataset

In [5]:
def convert_dtype(x):
    if not x:
        return ''
    try:
        return float(x)   
    except:        
        return ''

In [7]:
incidents_df = pd.read_csv('data/incidents.csv', converters={'n_participants_child': convert_dtype,
                                                             'n_participants_teen': convert_dtype,
                                                             'n_participants_adult': convert_dtype})
incidents_df.head()

,date,state,city_or_county,address,latitude,longitude,congressional_district,state_house_district,state_senate_district,participant_age1,...,n_males,n_females,n_killed,n_injured,n_arrested,n_unharmed,n_participants,notes,incident_characteristics1,incident_characteristics2
0,2015-05-02,Indiana,Indianapolis,Lafayette Road and Pike Plaza,39.8322,-86.2492,7.0,94.0,33.0,19.0,...,1.0,0.0,0,1,0.0,0.0,1.0,Teen wounded while walking - Security guard at...,Shot - Wounded/Injured,NaN
1,2017-04-03,Pennsylvania,Kane,5647 US 6,41.6645,-78.7856,5.0,NaN,NaN,62.0,...,1.0,0.0,1,0,0.0,0.0,1.0,shot self after accident,"Shot - Dead (murder, accidental, suicide)",Suicide^
2,2016-11-05,Michigan,Detroit,6200 Block of East McNichols Road,42.4190,-83.0393,14.0,4.0,2.0,NaN,...,NaN,NaN,0,1,0.0,1.0,2.0,1 inj.,Shot - Wounded/Injured,NaN
3,2016-10-15,District of Columbia,Washington,"1000 block of Bladensburg Road, NE",38.9030,-76.9820,1.0,NaN,NaN,NaN,...,1.0,0.0,0,1,0.0,0.0,2.0,NaN,Shot - Wounded/Injured,NaN
4,2030-06-14,Pennsylvania,Pittsburgh,California and Marshall Avenues,40.4621,-80.0308,14.0,NaN,NaN,NaN,...,1.0,0.0,0,1,0.0,1.0,2.0,NaN,Shot - Wounded/Injured,"Drive-by (car to street, car to car)"

In [8]:
poverty_df = pd.read_csv('data/povertyByStateYear.csv')
poverty_df.head()

           state  year  povertyPercentage
0  United States  2020               11.5
1        Alabama  2020               14.8
2         Alaska  2020               11.5
3        Arizona  2020               12.1
4       Arkansas  2020               15.8

In [9]:
district_house_df = pd.read_csv('data/year_state_district_house.csv')
district_house_df.head()

,year,state,congressional_district,party,candidatevotes,totalvotes
0,1976,ALABAMA,1,REPUBLICAN,98257,157170
1,1976,ALABAMA,2,REPUBLICAN,90069,156362
2,1976,ALABAMA,3,DEMOCRAT,106935,108048
3,1976,ALABAMA,4,DEMOCRAT,141490,176022
4,1976,ALABAMA,5,DEMOCRAT,113553,113560

### Data Integration

In [10]:
joined_df = incidents_df.copy()

In [11]:
joined_df.insert(1, "year", [int(joined_df["date"][i][0:4]) for i in range(joined_df.shape[0])])

In [12]:
joined_df.insert(29, "povertyPercentage", [poverty_df.loc[(poverty_df["year"] == joined_df.loc[i, "year"]) &
                                                          (poverty_df["state"] == joined_df.loc[i, "state"]),
                                                          "povertyPercentage"].values
                                                          for i in range(joined_df.shape[0])])

In [13]:
joined_df.insert(30, "party", [district_house_df.loc[(district_house_df["year"] == joined_df.loc[i, "year"]) &
                                                     (district_house_df["state"] == joined_df.loc[i, "state"]) &
                                                     (district_house_df["congressional_district"] == joined_df.loc[i, "congressional_district"]),
                                                     "party"].values
                                                     for i in range(joined_df.shape[0])])

In [15]:
joined_df.insert(31, "candidatevotes", [district_house_df.loc[(district_house_df["year"] == joined_df.loc[i, "year"]) &
                                                              (district_house_df["state"] == joined_df.loc[i, "state"]) &
                                                              (district_house_df["congressional_district"] == joined_df.loc[i, "congressional_district"]),
                                                              "candidatevotes"].values
                                                              for i in range(joined_df.shape[0])])

In [16]:
joined_df.insert(32, "totalvotes", [district_house_df.loc[(district_house_df["year"] == joined_df.loc[i, "year"]) &
                                                          (district_house_df["state"] == joined_df.loc[i, "state"]) &
                                                          (district_house_df["congressional_district"] == joined_df.loc[i, "congressional_district"]),
                                                          "totalvotes"].values
                                                          for i in range(joined_df.shape[0])])

In [17]:
joined_df.to_csv("data/joined_dataset.csv")

## 1. Data Understanding

### Dataset description

1. **date**: date of incident occurrence
2. **year**: year of incudent occurrence
3. **state**: state where incident took place
4. **city_or_county**: city or county where incident took place 
5. **address**: address where incident took place
6. **latitude**: latitude of the incident
7. **longitude**: longitude of the incident
8. **congressional_district**: congressional district where the incident took place 
9. **state_house_district**: state house district
10. **state_senate_district**: state senate district where the incident took place
11. **participant_age1**: exact age of one (randomly chosen) participant in the incident
12. **participant_age_group1**: exact age group of one (randomly chosen) participant in the incident
13. **participant_gender1**: exact gender of one (randomly chosen) participant in the incident
14. **min_age_participants**: minimum age of the participants in the incident
15. **avg_age_participants**: average age of the participants in the incident
16. **max_age_participants**: maximum age of the participants in the incident
17. **n_participants_child**: number of child participants 0-11
18. **n_participants_teen**: number of teen participants 12-17
19. **n_participants_adult**: number of adult participants (18 +)
20. **n_males**: number of males participants
21. **n_females**: number of females participants
22. **n_killed**: number of people killed
23. **n_injured**: number of people injured
24. **n_arrested**: number of arrested participants
25. **n_unharmed**: number of unharmed participants
26. **n_participants**: number of participants in the incident
27. **notes**:
28. **incident_characteristics1**:
29. **incident_characteristics1**:
30. **povertyPercentage**: poverty percentage for the corresponding state and year
31. **party**: winning party fort the corresponding congressional_district in the state, in the corresponding year
32. **candidateVotes**: number of votes obtained by the winning party in the corresponding election
33. **totalVotes**: number total votes for the corresponding election

### Data quality assessment

In [18]:
joined_df = joined_df.replace('', np.NaN)

In [19]:
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 33 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date                       239677 non-null  object
 1   year                       239677 non-null  int64
 2   state                      239677 non-null  object
 3   city_or_county             239677 non-null  object
 4   address                    223180 non-null  object
 5   latitude                   231754 non-null  float64
 6   longitude                  231754 non-null  float64
 7   congressional_district     227733 non-null  float64
 8   state_house_district       200905 non-null  float64
 9   state_senate_district      207342 non-null  float64
 10  participant_age1           147379 non-null  float64
 11  participant_age_group1     197558 non-null  object
 12  participant_gender1        203315 non-null  object
 13  min_age_participants       164879 non-null  object
 14  avg_age_participants       165057 non-null  object
 15  max_age_participants       164969 non-null  object
 16  n_participants_child       197568 non-null  float64
 17  n_participants_teen        197571 non-null  float64
 18  n_participants_adult       197572 non-null  float64
 19  n_males                    203315 non-null  float64
 20  n_females                  203315 non-null  float64
 21  n_killed                   239677 non-null  int64
 22  n_injured                  239677 non-null  int64
 23  n_arrested                 212051 non-null  float64
 24  n_unharmed                 212051 non-null  float64
 25  n_participants             239677 non-null  float64
 26  notes                      158660 non-null  object
 27  incident_characteristics1  239351 non-null  object
 28  incident_characteristics2  141931 non-null  object
 29  povertyPercentage          239677 non-null  object
 30  party                      239677 non-null  object
 31  candidatevotes             239677 non-null  object
 32  totalvotes                 239677 non-null  object
dtypes: float64(14), int64(3), object(16)
memory usage: 60.3+ MB

In [20]:
joined_df.isnull().any()

date                         False
year                         False
state                        False
city_or_county               False
address                       True
latitude                      True
longitude                     True
congressional_district        True
state_house_district          True
state_senate_district         True
participant_age1              True
participant_age_group1        True
participant_gender1           True
min_age_participants          True
avg_age_participants          True
max_age_participants          True
n_participants_child          True
n_participants_teen           True
n_participants_adult          True
n_males                       True
n_females                     True
n_killed                     False
n_injured                    False
n_arrested                    True
n_unharmed                    True
n_participants               False
notes                         True
incident_characteristics1     True
incident_characteristics2     True
povertyPercentage            False
party                        False
candidatevotes               False
totalvotes                   False
dtype: bool

### Variables distribution

In [21]:
joined_df.describe()

,year,latitude,longitude,congressional_district,state_house_district,state_senate_district,participant_age1,n_participants_child,n_participants_teen,n_participants_adult,n_males,n_females,n_killed,n_injured,n_arrested,n_unharmed,n_participants
count,239677.000000,231754.000000,231754.000000,227733.000000,200905.000000,207342.00000,147379.000000,197568.000000,197571.000000,197572.000000,203315.000000,203315.000000,239677.000000,239677.000000,212051.000000,212051.000000,239677.000000
mean,2017.151879,37.546598,-89.338348,8.001265,55.447132,20.47711,30.295707,16.122004,8.461910,18.516014,1.520252,0.212340,0.252290,0.494007,0.468439,0.494169,1.636895
std,4.145756,5.130763,14.359546,8.480835,42.048117,14.20456,13.363592,3294.717771,2223.925791,3232.716199,0.996767,0.490888,0.521779,0.729952,0.851035,0.925566,1.252514
min,2013.000000,19.111400,-171.429000,0.000000,1.000000,1.00000,0.000000,-977.000000,-947.000000,-991.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.000000,33.903400,-94.158725,2.000000,21.000000,9.00000,21.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2016.000000,38.570600,-86.249600,5.000000,47.000000,19.00000,27.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,2017.000000,41.437375,-80.048625,10.000000,84.000000,30.00000,37.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000
max,2030.000000,71.336800,97.433100,53.000000,901.000000,94.00000,311.000000,886365.000000,762487.000000,827900.000000,61.000000,23.000000,50.000000,53.000000,63.000000,20.000000,103.000000

Correct outliers data

### Pairwise correlation

## 2. Data Preparation